curl_cffi
playwright
BeautifulSoup4
Chromium
langchain-openai
python-dotenv
langchain-openai
langchain-google-genai
langchain
langchain-tavily
langgraph
pydantic
typing_extensions
langgraph_supervisor
fastapi
uvicorn
uuid
db-sqlite3